
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/teacher/add">Ekleme Sayfası</a> |   
    <a href="/teacher/list">Öğretmenlerin Listesi</a>

</body>
</html>
