@using exp_3_VeriTasima.Models
@model Ogrenci

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>

    @*Contollerdan gelen öğrencinin içini formdan gelen verilerle doldurmak için MVC HTML HELPER kullandık;*@
    @using (Html.BeginForm("Add", "Student", FormMethod.Post))
    {
        @Html.AntiForgeryToken() //Form güvenliğini sağlıyor.olmazsa ataklara açık olursun

        <label>Ad</label> // @Html.LabelFor(model => model.Ad) böyle de yazılır. böyle yaz.
        @Html.TextBoxFor(model => model.Ad)

        <label>Soyad</label>
        @Html.TextBoxFor(model => model.Soyad)

        <button type="submit">Gönder</button>
    }


    @*<form action="/" method="post" class=""></form>
        <label>Ad</label>
        <input  name="Soyad" id="Soyad" />*@

</body>
</html>
