@using exp_3_VeriTasima.Models;

@{
    Layout = null;

    var yil = DateTime.Now.Year; //sadece basit işlemleri buraya yazarız. daaha complex işlemleri controllerda yaparız
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*View'larda using otomatik gelmez, elle yazmak gerekir. ve başına @yazmayı da unutma.*@
</head>
<body>
    <h1>@ViewData["AdSoyad"]</h1> @*1. taşıma yöntemi.*@

    <p>@TempData["Fiyat"]</p>

    <ul>
        @foreach (var item in (List<Ogrenci>)ViewBag.OgrenciListesi)
        {
            <li>@item.Ad @item.Soyad</li>
        }
    </ul>

    @yil
</body>
</html>
