@using exp_3_VeriTasima.Models;

@{
    Layout = null;

    var yil = DateTime.Now.Year; //sadece basit işlemleri buraya(view'a) yazarız. daha complex işlemleri controllerda yaparız(CRUD işlemlerini)
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*View'larda using otomatik gelmez, elle yazmak gerekir. ve başına @yazmayı da unutma. using otomatik gelmez çünkü burası bir cs dosyası değil html dosyası(cshtml)*@
</head>
<body>
    <h1>@ViewData["AdSoyad"]</h1> @*1. veri taşıma yöntemi.Controller'daki veriyi View'a taşıdık.*@

    <p>@TempData["Fiyat"]</p>

    <ul>
        @foreach (var item in (List<Ogrenci>)ViewBag.OgrenciListesi)
        {
            <li>@item.Ad @item.Soyad</li>
        }
    </ul>

    @yil
</body>
</html>
